* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.header {
    height: 150px;
    background-image: linear-gradient(50deg, rgb(10, 34, 107), cadetblue);
}

.main {
    display: flex;
    min-height: 100vh;
    background-image: linear-gradient(50deg, rgba(10, 34, 107, 0.288), rgba(95, 158, 160, 0.292));
}


.catalog {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
}

.basket  {
    width: 20%;
    min-height: 200px;
    background-color: #fff;
}

.card {
    width: calc(100% / 5);
    height: 380px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
}

.card img {
    max-height: 200px;
    transition: 0.4s;
}

.card span {
    display: block;
    margin: 5px 0;
}

.card-author {
    font-size: 0.8rem;
    font-weight: normal;
    font-style: italic;
}

.show-description,
.basket-add {
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid black;
    color: white;
    background-color: cadetblue;
    transition: 0.3s;
}

.price button:hover {
    cursor: pointer;
    background-color: royalblue;
    border: 1px solid transparent;
    color: black;
}

.caption {
    transition: 0.4s;
}

.card img:hover {
    cursor: pointer;
    transform: scale(1.3);
    box-shadow: 0 0 30px 10px black;
}

.card img:hover+.caption {
    margin-top: 100px;
    opacity: 0;
}

.visible {
    display: block;
    overflow: hidden;
}

.description {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(224, 223, 223, 0.098);
}

.description-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 300px;
    background-color: red;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: translate(+50%, -50%);
}

.footer {
    height: 50px;
    background-image: linear-gradient(50deg, rgb(10, 34, 107) 15%, cadetblue 50%);
}

@media (max-width: 1200px) {
    .card {
        width: calc(100% / 4);
    }
}

@media (max-width: 1000px) {
    .card {
        width: calc(100% / 3);
    }
}

@media (max-width: 720px) {
    .card {
        width: calc(100% / 2);
    }
}